body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    background:url('bgg.jpg') no-repeat center center/cover ; 
}
.container{
    text-align: center;
    margin: 150px auto;
    width: 550px;
    height:400px;
  
    
}
.main-heading{
    font-size:1.3rem;
    background-color: black;
    color:white;
    padding:3px;
    border:1px solid white;
    border-radius:7px;
}
.text-area{
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: whitesmoke;
    padding: 35px;
    border-radius:10px;
    box-shadow:4px 6px grey;
}
.person{
    margin-top: 15px;
    text-transform: uppercase;
    color: red;

}
.button-area button{
    font-size: 0.9rem;
    margin-top: 20px;
    padding:6px;
    background-color:green;
    color:white;
    cursor:pointer;
}
.button-area button:active{
    background-color:blue;
}

